{% extends 'users/base.html' %}

{% block content %}
<div class="col 12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <h3 class="card-header">
                            <div class="card-title">Вход</div>
                        </h3>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Войти</button>
                        </div>
                        <h2>Восстановить пароль</h2>
                        <form method="post" action="{% url 'users:password_reset' %}">
                            {% csrf_token %}
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                            <button type="submit">Восстановить пароль</button>
                        </form>

                        {% if error %}
                            <p>{{ error }}</p>
                        {% endif %}
                    </body>
                    </html>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
